.text-editor-wrapper {
	width: 90%;
	max-width: 56rem;
	margin: auto;
	overflow-x: hidden;
}
.title-new {
	width: 100%;
	margin: $space-around-element auto;
	text-align: left;
}
@media (min-width: 700px) {
	.title-new {
		font-size: 2rem !important;
	}
}

.post-title-content-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: $space-around-element auto;

	label {
		font: 800 $main-font-size $third-font;
		color: $main-color;
		display: block;
		margin: $micro-space-around-element 0;
		width: 100%;
		.spacer {
			height: 1rem;
		}
	}

	@media (min-width: 700px) {
		label {
			font-size: 1.3rem;
		}
	}
}
.CKE-post-title,
.CKE-post-content,
.CKE-post-author {
	color: $fourth-color;
	font: $main-font-size $third-font;
	margin: $micro-space-around-element 0 1rem;
	border: 2px solid #f2f2f2;
	padding: 0.5rem $macro-space-around-element;
	width: 100%;

	&:focus {
		outline: none;
	}
}
@media (min-width: 700px) {
	.CKE-post-title,
	.CKE-post-content {
		padding: 1rem $macro-space-around-element;
		font-size: 1.3rem;
	}
}
.imagePost-preview {
	width: 80%;
	max-width: 56rem;
	margin: auto;

	img {
		width: 30%;
		max-width: 20rem;
	}
}
.standard-h3 {
	font: 800 $main-font-size $third-font;
	color: $main-color;
	display: block;
	margin: $micro-space-around-element 0;
	.spacer {
		height: 1rem;
	}
}

@media (min-width: 700px) {
	.standard-h3 {
		font-size: 1.3rem;
	}
}

.dorpdown-new {
	width: 100%;
	max-width: 56rem;
	margin: 0 auto $space-around-element;
}
#toolbar-container {
	width: 100%;
	margin: 0;
	padding: 0;
}
#editor {
	min-height: 20rem;
	border: 1px solid rgb(226, 226, 226);
}
.ck .ck-toolbar__items {
	background: white !important;
}
#CKE-post-embedVideo {
	width: 100%;
	border: 1px solid rgb(226, 226, 226);
	resize: none;
	height: 5rem;
	padding: $macro-space-around-element $micro-space-around-element;
	font: $main-font-size $secondary-font;
	color: cornflowerblue;

	&:focus {
		outline: none;
	}
}

.standard-h3-mediaEmbed {
	margin: $space-around-element auto $micro-space-around-element;
}

.posts-buttons {
	width: 90%;
	max-width: 25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: $space-around-element auto 4rem;
}

.send-post {
	@include standard-button;
	background: $main-color;
	box-shadow: 5px 5px 5px rgb(196, 196, 196);
	display: inline-block;
	margin: $macro-space-around-element;
	font: 800 1rem $third-font;
	padding: 0.8rem 1rem;
	width: auto;
}

.cancel-post {
	@include standard-button;
	background: $cancel-delete;
	box-shadow: 5px 5px 5px rgb(196, 196, 196);
	display: inline-block;
	margin: $macro-space-around-element;
	font: 800 1rem $third-font;
	padding: 0.8rem 1rem;
	width: auto;

	&:hover {
		background: rgb(189, 70, 70);
	}
}
.dark-background {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}
.card-on-bck,
#delete-route {
	width: 90%;
	max-width: 400px;
	height: 20rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: white;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0.5rem;
	z-index: 6;

	h3 {
		font-family: $third-font;
		color: $fourth-color;
		text-align: center;
		margin-bottom: 3rem;
	}
}
#delete-route {
	h3 {
		margin-bottom: 4rem;
	}
}
#getYT-data {
	padding: 0.5rem;
	margin-top: 1rem;
	background-color: $fourth-color;
	color: white;
	width: 10rem;
	font: 0.8rem $secondary-font;
	cursor: pointer;

	@media (min-width: 700px) {
		font: 1.15rem $secondary-font;
		width: 12.5rem;
	}
}

#youtube-link-converter,
.youtube-link-converter {
	background: #ffeebe;
	padding: 1rem;
	width: 100%;
	font: 800 italic 1rem $secondary-font;
	margin-top: 2rem;

	@media (min-width: 700px) {
		font: 800 italic 1.3rem $secondary-font;
	}

	p {
		font: 300 italic 0.8rem $secondary-font;
		margin-bottom: 1rem;

		@media (min-width: 700px) {
			font: 300 italic 1.15rem $secondary-font;
		}
	}
}

.youtube-link-converter {
	width: 100%;
	max-width: 40re;
	margin: 2rem auto;
}

#youtube-link-converter-link {
	padding: 0.5rem;
	width: 100%;
	max-width: 25rem;
	display: block;
	font: 0.8rem $secondary-font;

	&:focus {
		outline: none;
	}
	&:-moz-focusring {
		outline: none;
	}
}
#YT-res-data {
	font: 300 0.8rem $secondary-font;
	margin: $space-around-element 0;
	padding: $macro-space-around-element;

	@media (min-width: 700px) {
		font: 300 1.15rem $secondary-font;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

#loader {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;

	div {
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 10rem;
			height: 10rem;
			animation: spin 1000ms linear infinite forwards;
		}
	}
}

.posts-buttons-new {
	input[type='checkbox'] {
		width: 5px;
		visibility: hidden;
		position: absolute;
	}

	.switch {
		width: 4rem;
		height: 2rem;
		background-color: $fourth-color;
		border-radius: 1.5rem;
		flex-shrink: 0;
		position: relative;
		cursor: pointer;

		.switch_ball {
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			background-color: #f2f2f2;
			position: absolute;
			left: 0.2rem;
			top: 0.28rem;
			transition: transform 300ms ease-in-out;
			cursor: pointer;
		}
	}

	input:checked + .switch > div {
		-webkit-transform: translateX(2rem);
		-ms-transform: translateX(2rem);
		transform: translateX(2rem);
	}

	input:checked + .switch {
		background: $secondary-color;
	}
}
#raw-image-grid {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	img {
		object-fit: cover;
		object-position: center;
		width: 33%;
		height: 5rem;
	}
}

.cke_toolbar {
	padding: 0.5rem !important;
}

.cke_button_icon {
	height: 20px !important;
	width: 20px !important;
}

.grid-width-100 {
	padding: 0 !important;
}

// ------------------------------- CKE Editor -----------------------------
.cke_top {
	background-color: #f2f2f2 !important;
}

.cke_button__easyimageupload_icon {
	pointer-events: none;
	display: none;
}

// ------------------------------- End CKE Editor -----------------------------

.switch.switch-middle_U-1-2 {
	margin: auto !important;
	float: none;
}
