.settings {
	margin: 5rem auto 5rem;
	font: 800 $mobile-title-size $third-font;
	color: $main-color;
	width: 90%;
	max-width: 56rem;
	text-align: center;
}

.home-page-wrapper,
.edit-general-settings-wrapper {
	.div-trigger_child-wrapper {
		width: 90%;
		max-width: 56rem;
		margin: auto;
		display: none;

		@media (min-width: 1000px) {
			display: block;
			// align-items: start;
			// justify-content: center;
			// flex-wrap: wrap;
		}
	}
	.page-toggle {
		width: 90%;
		max-width: 56rem;
		padding: $macro-space-around-element;
		color: $fourth-color;
		font: 800 1.3rem $third-font;
		background-color: #f2f2f2;
		display: flex;
		align-items: center;
		justify-content: left;
		margin: 0.5rem auto;
		position: relative;
		cursor: pointer;
		flex-wrap: wrap;

		@media (min-width: 1000px) {
			background: $third-color;
			color: white;
			pointer-events: none;
			padding: 0.5rem $macro-space-around-element;
			text-align: center;
			font-size: 2rem;
		}

		div {
			width: 1rem;
			height: 1rem;
			border-right: 0.5rem solid transparent;
			border-left: 0.5rem solid transparent;
			border-bottom: 0.8rem solid $fourth-color;
			top: 1.2rem;
			transform: rotate(90deg);
			position: absolute;
			margin-left: 88%;

			@media (min-width: 1000px) {
				display: none;
			}
		}
	}

	.homepage-images {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		margin: $space-around-element auto 0;

		form {
			#paypalButtonTitle {
				width: 100%;
			}
		}

		@media (min-width: 1000px) {
			//width: 25rem;
			flex-shrink: 0;
			//border: 2px solid $main-color;

			form:not(.flex-column_1-2) {
				padding: 0.8rem;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-direction: column;
			}
		}

		img {
			width: 5rem;
			height: 5rem;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
			border: 5px solid $third-color;
		}
		@media (min-width: 700px) {
			img {
				width: 7rem;
				height: 7rem;
			}
		}
	}
	form:not(.flex-column_1-2) {
		width: 100%;
		max-width: 56rem;
		margin: $space-around-element auto;

		@media (min-width: 1000px) {
			max-width: 100%;
		}

		label {
			font: 800 $main-font-size $third-font;
			color: $main-color;
			display: block;
			margin: 0 0 $micro-space-around-element;
		}

		input {
			color: $fourth-color;
			font: $main-font-size $secondary-font;
			margin: $micro-space-around-element 0.5rem 1.5rem;
			border: 2px solid #f2f2f2;
			padding: $macro-space-around-element;
		}
		@media (min-width: 700px) {
			input {
				box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
				font-size: 1.3rem;
			}
		}

		input:focus {
			outline: none;
		}

		#home-section-logo,
		#featured-section-img,
		#about-section-img {
			padding: 0;
			border: none;
		}

		textarea {
			border: 2px solid #f2f2f2;
			resize: none;
			font: $main-font-size $secondary-font;
			padding: $macro-space-around-element;
			margin: $micro-space-around-element 0 1.5rem;
		}
		textarea:focus {
			outline: none;
		}
		@media (min-width: 700px) {
			textarea {
				font-size: 1.3rem;
				line-height: 2em;
				box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
			}
		}
	}

	.update {
		padding: 0.5rem 2rem;
		color: white;
		font: 800 $main-font-size $third-font;
		border: none;
		background-color: $main-color;
		cursor: pointer;
	}
	@media (min-width: 700px) {
		.update {
			padding: 0.8rem 2.3rem;
			font: 800 1.3rem $third-font;
		}
	}

	img {
		width: 5rem;
		height: 5rem;
		object-fit: cover;
		object-position: center;
		border-radius: 50%;
		border: 5px solid $third-color;
	}

	@media (min-width: 700px) {
		img {
			width: 7rem;
			height: 7rem;
		}
	}
}

.trigger-form.trifer-form-show-home-section {
	width: 100%;
	margin: auto;

	input,
	textarea {
		width: 100%;
	}

	input[type='checkbox'] {
		width: 5px;
		visibility: hidden;
		position: absolute;
	}

	.switch {
		width: 4rem;
		height: 2rem;
		background-color: rgb(153, 153, 153);
		border-radius: 1.5rem;
		flex-shrink: 0;
		position: relative;
		cursor: pointer;

		.switch_ball {
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			background-color: #f2f2f2;
			position: absolute;
			left: 0.2rem;
			top: 0.2rem;
			transition: transform 300ms ease-in-out;
			cursor: pointer;
		}
	}

	input:checked + .switch > div {
		-webkit-transform: translateX(2rem);
		-ms-transform: translateX(2rem);
		transform: translateX(2rem);
	}

	input:checked + .switch {
		background: $secondary-color;
	}

	.item-with-margin {
		margin: 1rem auto;
	}

	.post-card-row {
		width: 100%;
		background-color: #f2f2f2;
		padding: 0.5rem 0 0.5rem 0.5rem;
		margin: 0.5rem auto;
		position: relative;

		h4 {
			font: 600 1.2rem 'Oswald', sans-serif;
			color: #242424;
			pointer-events: none;
		}
		p {
			font: 0.8rem 'Oswald', sans-serif;
			color: #2424248c;
			max-width: 85%;
			overflow-x: scroll;
			pointer-events: none;
		}

		&:hover {
			cursor: pointer;
			background-color: rgb(161, 216, 139);
		}
	}

	.selected-item {
		position: absolute;
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		right: 1.5rem;
		top: 1rem;
		background-color: rgb(161, 216, 139);
	}

	@media (min-width: 1000px) {
		width: 30rem;
		flex-shrink: 0;
		//border: 2px solid $main-color;
		padding: 2rem 2rem 3.3rem;

		&:last-child {
			margin-top: 4rem;
			flex-grow: 1;
		}
	}
}

.max-file-size {
	font: 1rem $secondary-font;
	color: gray;
	font-style: italic;
	margin-bottom: $macro-space-around-element;
}

.edit-general-settings-wrapper {
	width: 90%;
	max-width: 56rem;
	margin: auto;

	h2 {
		margin: 5rem auto 1rem;
		font: 800 $mobile-title-size $third-font;
		color: $main-color;
		width: 90%;
		max-width: 56rem;
		text-align: center;
	}

	form {
		div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			overflow: scroll;

			input {
				margin: 0 $macro-space-around-element;
				width: 15rem;
				flex-shrink: 1;
				display: block;
			}

			@media (min-width: 700px) {
				input {
					margin-bottom: 0.5rem;
					width: 30rem;
				}
			}
			svg {
				width: 2rem;
				height: 2rem;
				flex-grow: 0;
				flex-shrink: 0;
				margin: 0;
			}
			@media (min-width: 700px) {
				svg {
					width: 3rem;
					height: 3rem;
					margin: 0 1rem 0 0;
				}
			}

			.instagram {
				fill: rgb(127, 29, 146);
			}
			.twitter {
				fill: #1da1f2;
			}
			.youtube {
				fill: #e62117;
			}
			.pinterest {
				fill: #bd081c;
			}
			.facebook {
				fill: #1877f2;
			}
		}

		input[type='checkbox'] {
			width: 5px;
			visibility: hidden;
			position: absolute;
		}

		.switch {
			width: 4rem;
			height: 2rem;
			background-color: rgb(151, 150, 150);
			border-radius: 1.5rem;
			flex-shrink: 0;
			position: relative;
			cursor: pointer;

			.switch_ball {
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 50%;
				background-color: #f2f2f2;
				position: absolute;
				left: 0.2rem;
				transition: transform 300ms ease-in-out;
				cursor: pointer;
			}
		}

		input:checked + .switch > div {
			-webkit-transform: translateX(2rem);
			-ms-transform: translateX(2rem);
			transform: translateX(2rem);
		}

		input:checked + .switch {
			background: $secondary-color;
		}

		.update {
			margin: $macro-space-around-element 0;
		}
	}

	#update-new-category {
		margin: 0 $micro-space-around-element;
	}
	@media (min-width: 435px) {
		#update-new-category {
			margin: 0 $macro-space-around-element;
		}
	}
	.categorie {
		width: 100%;

		.category-div-wrapper {
			margin: $space-around-element auto;
			display: flex;
			align-items: center;
			justify-content: left;

			.category-text {
				padding: 0.5rem 0 0.5rem 0.5rem;
				font: 1.2rem $third-font;
				width: 15rem;
				background-color: $fourth-color;
				color: white;
			}

			@media (min-width: 700px) {
				.category-text {
					padding: 0.8rem;
					font: 1.3rem $third-font;
				}
			}
			.delete {
				width: auto;
				padding: 0.5rem 2rem;
				color: white;
				font: 800 $main-font-size $third-font;
				background-color: $cancel-delete;
				display: inline-block;
				margin: $macro-space-around-element;
				vertical-align: middle;
				cursor: pointer;

				&:hover {
					transform: scale(0.95);
					background: rgb(241, 103, 103);
					transition: transform 300ms ease-in-out;
				}
			}
			@media (min-width: 700px) {
				.delete {
					padding: 0.8rem 2.3rem;
					font: 800 1.3rem $third-font;
					margin-left: $space-around-element;
				}
			}
		}

		.delete {
			padding: 0.5rem 2rem;
			color: white;
			font: 800 $main-font-size $third-font;
			background-color: $cancel-delete;
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			cursor: pointer;
		}
	}
}
.spacer {
	height: $super-space-around-element;
}

@media (min-width: 1000px) {
	#home-section-logo,
	#featured-section-img {
		width: 10rem;
	}
	.embeding-textarea {
		height: 15rem;
	}
	.trigger-form-about {
		margin-top: 2rem !important;
	}
	.trigger-form-about-photo {
		// min-height: 40rem;
		// width: 25rem !important;
	}
	.trigger-form-contact {
		textarea {
			height: 15rem !important;
		}
	}
	.sosmed-form {
		width: 100% !important;
		border: none;
	}
	#add-new {
		margin: $space-around-element 0 0 0;
		position: relative;
		left: 0;
	}
	.category-text {
		min-width: 30rem;
	}
}

.div-trigger_child-wrapper-edit {
	width: 90%;
	max-width: 56rem;
	margin: auto;
	display: none;

	@media (min-width: 1000px) {
		display: block;
		// align-items: start;
		// justify-content: center;
		// flex-wrap: wrap;
	}
}
.page-toggle {
	width: 90%;
	max-width: 56rem;
	padding: $macro-space-around-element;
	color: $fourth-color;
	font: 800 1.3rem $third-font;
	background-color: #f2f2f2;
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 0 auto 2rem;
	position: relative;
	cursor: pointer;
	flex-wrap: wrap;

	@media (min-width: 1000px) {
		background: $third-color;
		color: white;
		pointer-events: none;
		padding: 2rem $macro-space-around-element;
		text-align: center;
		font-size: 3rem;
	}

	div {
		width: 1rem;
		height: 1rem;
		border-right: 0.5rem solid transparent;
		border-left: 0.5rem solid transparent;
		border-bottom: 0.8rem solid $fourth-color;
		transform: rotate(90deg);
		position: absolute;
		margin-left: 88%;

		@media (min-width: 1000px) {
			display: none;
		}
	}
}

// ---------------------------- VERSION 1.2 ---------------------------------- //
.post-card-row-wrapper- {
	display: none;
}

.post-card-row-wrapper-checked {
	display: block;
	max-height: 30rem;
	overflow-y: scroll;
}

.hidden-input {
	display: none !important;
}

.youtube-link-converter.settings-info-disclaimer {
	width: 90%;
}
.youtube-link-converter.settings-info-disclaimer--full {
	width: 100%;
}

.input-full-width {
	width: 100% !important;
}

// ------------------ edit homepage section ---------------------
.homepage-images_U-1-2 {
	@media (min-width: 1000px) {
		width: 100%;
	}
}

.header-title_U-1-2 {
	margin-top: 0 !important;
	padding-top: 0 !important;

	@media (min-width: 1000px) {
		width: 100%;
		max-width: 100%;
	}
}

.max-width-true {
	max-width: 56rem;
}

.flex-column_1-2 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row-reverse;
	padding: 0.5rem;
}

.section-gray {
	background-color: #f2f2f2;
	margin: 1rem auto 0;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

	label {
		font: 800 $main-font-size $third-font;
		color: $main-color;
		display: block;
		margin: 0 0 $micro-space-around-element;
	}

	input {
		color: $fourth-color;
		font: $main-font-size $secondary-font;
		margin: $micro-space-around-element 0 1.5rem;
		border: 2px solid #f2f2f2;
		padding: $macro-space-around-element;
	}

	@media (min-width: 1000px) {
		padding: 1rem;
	}
}

.image-updaters-wrapper_U-1-2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.success-p_U-1-2 {
	background-color: #c4efc4;
	padding: 0.3rem;
	font: 1.2rem $secondary-font;
	display: none;
	margin: 0.5rem auto;
}

.home-img-info-wrapper {
	margin: auto;
	width: 12rem;
	padding-left: 0.5rem;

	@media (min-width: 700px) {
		width: 15rem;
	}

	@media (min-width: 1000px) {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-end;
		justify-content: center;
		width: 30rem;
	}
}

.update_U-1-2 {
	margin-left: 0;
}

.item-width-shadow {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	margin: 1rem 0 !important;
}

.trifer-form-show-home-section {
	padding: 2rem 0 !important;
}

// ------------------- desktop navigation Update 1.2 -------------------------------------------
.desktop-settings-nav-wrapper_U-1-2 {
	width: 18rem;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	display: none;
	top: 2rem;
	right: 2rem;
	z-index: 5;
	background-color: white;

	@media (min-width: 1000px) {
		display: flex;
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		background-position: center;
		background-size: 70%;
		background-repeat: no-repeat;
		font-size: 1.2rem;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		background-color: #f2f2f2;

		&:hover {
			cursor: pointer;
			background-color: $main-color;
		}
	}

	.home_U-1-2 {
		background-image: url('../images/utility-icons/home-icon.png');
	}

	.about_U-1-2 {
		background-image: url('../images/utility-icons/about-icon.png');
	}

	.contact_U-1-2 {
		background-image: url('../images/utility-icons/chat-icon.png');
	}

	.others_U-1-2 {
		background-image: url('../images/utility-icons/others-icon.png');
	}

	.focused {
		background-color: $main-color;
	}
}

#home-div-trigger_U-1-2 {
	display: none;

	@media (min-width: 1000px) {
		display: block;
	}
}

#header-home-div-trigger_U-1-2 {
	display: block;

	@media (min-width: 1000px) {
		display: block;
	}
}

#buttons-div-trigger_U-1-2,
#about-div-trigger_U-1-2,
#contact-div-trigger_U-1-2 {
	display: none;

	@media (min-width: 1000px) {
		display: block;
	}
}

#header-buttons-div-trigger_U-1-2,
#header-about-div-trigger_U-1-2,
#header-contact-div-trigger_U-1-2 {
	display: block;

	@media (min-width: 1000px) {
		display: block;
	}
}

@media (max-width: 1000px) {
	.page-toggle.hidden-input {
		display: block !important;
	}
}

.notifications-wrapper_U-1-2 {
	padding: 0.5rem 1rem;
	background-color: #93f077;
	font: 400 1.2rem $third-font;
	width: 90%;
	max-width: 56rem;
	margin: 2rem auto 0;
	transform: translateY(4rem);

	@media (min-width: 1000px) {
		margin-top: 3rem;
	}
}
// .genrealsettings_U-1-2 {
// 	@media (min-width: 1000px) {
// 		display: flex;
// 		align-items: flex-start;
// 		justify-content: space-between;
// 		max-width: 56rem;
// 		.socials_U-1-2 {
// 			max-width: 45%;
// 		}

// 		.tags_U-1-2 {
// 			max-width: 48%;

// 			.categorie {
// 				width: 100%;
// 				max-width: 100%;

// 				.category-div-wrapper {
// 					width: 100%;
// 					max-width: 100%;
// 					.category-text {
// 						width: 75%;
// 						min-width: 10rem;
// 					}

// 					.delete {
// 						width: 20%;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
