<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>

		<title>Simple Reflections | Meditating on God's word</title>
	</head>
	<body>
		<%- include('./partials/_header') %>
		<div class="success-wrapper">
			<img src="/images/done.svg" alt="success icon" />
			<%-message %>
			<a href="/" class="goBack">CLOSE</a>
		</div>
		<script src="js/index.js"></script>
	</body>
</html>
